@import '../../../css/Sizes.css';

.List {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding-top: calc(var(--title-bar-height) * 2);
  background-color: #fafafa;
  width: var(--notes-list-width);
}
