@import '../../../css/Sizes.css';

.list {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding-top: calc(2 * var(--title-bar-height));
  background-color: #FAFAFA;
  width: var(--notes-list-width);
}
